.page_box{
}

.page_box_head{
    height: 72px;
    width: 1168px;

    padding: 0 0 0 42px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    border-bottom: 1px solid #E5E5E5;
}
.head_back{
    display: flex;

    align-items: center;
    align-content: center;
}
.back_arrow{
    height: 14px;
    width: 34px;

    padding: 0;

    display: flex;

    align-items: center;
    align-content: center;
}
.back_arrow img{
    margin: 0;
    height: 14px;
    /* position: absolute; */
}
.back_text{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #82B284;
}
.head_action_menu{
    display: flex;

    align-content: center;
}
.icon_element{
    display: flex;

    align-items: center;

    padding: 0 14px;
}
.icon_element__link{
    height: 72px;
}
.icon_element__link:hover{
    background-color: #dfdbdb;
}
.icon_element__link:active{
    background-color: #c7c6c6;
}
.icon_element__link img{
    display: block;
    height: 8.5px;
    width: 17px;
}
.icon_element__update{
    height: 72px;
}
.icon_element__update:hover{
    background-color: #dfdbdb;
}
.icon_element__update:active{
    background-color: #c7c6c6;
}
.icon_element__update img{
    height: 16px;
    width: 16px;
}
.icon_element__delete:hover{
    background-color: #dfdbdb;
}
.icon_element__delete:active{
    background-color: #c7c6c6;
}
.icon_element__delete img{
    height: 18px;
    width: 13px;
}
/*  */
.wrapper_box{
    padding: 24px 0 0 40px;
}
.wrapper_box__name{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222222;

    padding: 0 0 24px 0;
}


.photo_box__name{
    padding: 0 0 20px 0;
}

/*  */
.delete_page_box{
    position: absolute;
    
    left: 50%;
    top: 50%;

    background-color: #E5E5E5;
}
.delete_page_box__hide{
    visibility: hidden;
}

.delete_page_box__main{
    padding: 24px;
}
.delete_page_box__main__name{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #3B3B3B;

    padding: 0 0 16px 0;
}
.delete_page_box__main__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3B3B3B;

    padding: 0 0 50px 0;
}
.delete_page_box__main__button{
    display: flex;

    justify-content: space-between;
    align-content: center;
}
.button{
}
.button_cancel{
    color: #B9B9B9;
}
.button_delete{
    
}
.button_delete a{
    color: #82B284;
    text-decoration: none;
}


.end_line{
    margin: 32px 0 0 0;
    border-bottom: 1px solid #E5E5E5;
}