.active{
    background-color: #A4C7A5;

    display: flex;

    height: 61px;

    justify-content: center;
    align-items: center;
}
.active img{
    width: 19px;
    height: 19px;
}

.sideMenu_box{
    width: 48px;
    min-height: 100%;

    background-color: #82B284;

    display: flex;

    flex-direction: column;

    justify-content: space-between;
}

.sideMenu_box_element{
    display: flex;

    height: 61px;

    justify-content: center;
    align-items: center;
}
.sideMenu_box_element:hover{
    background-color: rgba(152, 196, 154, 0.816)
}

.sideMenu_box_element img{
    width: 19px;
    height: 19px;
}

.sideMenu_box__void_element{
    min-height: 300px;
}