.wrapper_box {
    min-height: 100%;

    display: grid;

    grid-template-areas:
        'o c';

    grid-template-columns: 224px 1fr;
    grid-template-rows: 100%;

    border: 1px solid black;
}

.wrapper_box__organization {
    grid-area: o;

    text-align: center;

    background-color: #F7F7F7;
    min-height: 100%;
    width: 224px;
}

.org_box {
    padding: 20px 42px;
}

.org_main {
    width: 140px;
    height: 26px;

    font-size: 16px;
    font-weight: 700;

    padding: 0 0 2px 0;
}

.org_minor {
    font-weight: 400;
    font-size: 12px;

    width: 140px;
    height: 19px;
}

.shadow_box{
    float: right;

    position: relative;
    top: -131px;
    width: 21px;
    height: 100%;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.072) 0%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.link_org{
    display: flex;

    justify-content: flex-start;
    align-content: center;

    font-weight: 600;
    font-size: 14px;

    color: #82B284;
    text-decoration: none;
    background: #f7f7f700;

    width: 224px;
    height: 44px;
}
.link_org__action{
    background-color: #EEEEEE;
}
.link_org__img{
    padding: 13px 13px 13px 16px;
}
.link_org__img img{
    width: 18px;
    height: 16px;
}
.link_org__text{
    display: grid;

    justify-content: center;
    align-content: center;
}

.wrapper_box__listAgents {
    grid-area: c;
    height: 100%;
}
.wrapper_box__agent_element{
    height: 100%;
}


.mode_visible_off{
    display: none;
    /* visibility: hidden; */
}

.mode_visible_off__content{
    display: none;
}


@media (max-width: 700px){
    .wrapper_box {
        
        display: block;
    
        /* grid-template-areas:
            'o c';
    
        grid-template-columns: 224px 1fr;
        grid-template-rows: 100%; */
    }

    .wrapper_box .wrapper_box__organization{
        min-height: 100%;

        width: 100%;

        border: 1px solid black;
    }
}