.main_box{

    border-bottom: 1px solid #E5E5E5;
    margin: 0 0 32px 0;
}
.main_box__name{
    padding: 0 0 20px 0;
}
.main_box__name__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #3B3B3B;
}
.main_box__element{
    padding: 0 0 32px 0;
}
.main_box__date_element{
    padding: 0 0 12px 0;
}

.label{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;

    display: inline-block;
    width: 150px;
}

.value{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}