.App {
  width: 1440px;
  height: 1028px;
}

.app_content {
  display: grid;
  grid-template-areas:
    'n c';

  grid-template-columns: 48px 1fr;
}

.app_navbar {
  grid-area: n;
}

.app_wrapper {
  grid-area: c;
}

.test {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

/* общий стиль для всех изображений изменения формы */
.img_change{
  padding: 0 0 0 13px;
}
.img_change img{
  height: 16px;
  width: 16px;
}